body 
{margin: 20px;
 background: url(./photos/taliamama.jpg);
 background-repeat: no-repeat;
 background-size:cover;
 background-position:center;   
 border: 2px;                   
}     

div{
    height: 600px;
    width: 400px;
  
}

*{
text-align: center;
} 

h1{ 
  color: #c44911;
}

h3{
  text-align: center;
  color: #87805E;
}

p{
 font-family: "Amaranth", sans-serif;
 font-size: large;

 font-weight: 5000;
}

.txt{ height: 600px;
    width: 800px; 
    text-align: left;
  margin 20px
  margin-left: 20px;
  border: 0px solid black;
  color:  rgb(166, 197, 26); 
  padding: 20px;;
}

.text{ height: 600px;
    width: 800px;
    margin: 20px;
    margin-left: 600px;
  border: 100px;
  padding: 20px;
 color: rgb(166, 197, 26);
}

#font{
  color: #F88F01;
}

