a:link {
    font-size: 1.1em;
    background-color: #01204E;
    color: #B4CFB0;
    padding: 5px;
    border-radius: 5px;
}

a:visited {
    color: #B4CFB0;
}

h1,
h2 {
    color: #87805E;
}
